= form_for(@business) do |f| 
  - if @business.errors.any?
    #error_explanation
      %h2= "#{pluralize(@business.errors.count, "error")}  prohibited this business from being saved:"
      %ul
      - @business.errors.full_messages.each do |msg| 
        %li= msg
  %h3 Business Info
  %p
    = f.label :name, "Business Name"
    = f.text_field :name, {:class => "text-input"}
  %p
    = f.label :description, "Short Description"
    = f.text_area :description, {:class => "text-input", :style => "width:400px !important;height:100px;"}
  %p
    = f.label :street, "Address"
    = f.text_field :street, {:class => "text-input"}
  %p
    = f.label :city
    = f.text_field :city, {:class => "text-input"}
  %p
    = f.label :state
    = f.select :state, states
  %p
    = f.label :zip, "Zip Code"
    = f.text_field :zip, {:class => "text-input"}
  %p
    = f.label :phone
    = f.text_field :phone, {:class => "text-input"}
    = f.hidden_field :user_id, :value => current_user.id
  %p
    = f.submit "Next", {:class => "button"}