%h2 View Business        
.clear
.content-box
  .content-box-header
    %h3= @business.name
    .clear
  .content-box-content
    %h3 Business Name
    %p= @business.name
    %h3 Phone
    %p= @business.phone
    %h3 Description
    %p= @business.description
    %h3 Address
    %p
      = @business.street
      %br
      = "#{@business.city}, #{@business.state} #{@business.zip}"
    %p= link_to "Edit", edit_business_path(@business)