%h2 View Business        
.clear
.content-box
  .content-box-header
    %h3= @business.name
    /%ul.content-box-tabs
    /  %li
    /    %a.default-tab{:href => "#tab1"} Businesses
    .clear
  .content-box-content
    %h3 Business Name
    %p= @business.name
    %h3 Phone
    %p= @business.phone
    %h3 Description
    %p= @business.description
    %h3 Address
    %p
      = @business.street
      %br
      = "#{@business.city}, #{@business.state} #{@business.zip}"
    /t.integer :user_id
    /t.integer :survey_id
    /t.integer :coupon_id