.tweets
  %div
    %strong.howasitapp TWITTER
    %span.tweet 
      Loading tweet...
      = link_to "View More", "http://twitter.com/howasitapp"
.proms
  %div
    .half.left
      .intro
        %h2 Making feedback easy...
        %p Traditional comment cards are obsolete and ineffective, but real feedback from real customers is invaluable to running successful businesses. Let howas.it enable you to easily receive and incentivize feedback.  You'll love it.
      .benefits
        %ul
          %li
            .icon= image_tag "i_star.png"
            .content
              %h3 Get Instant Feedback from Customers
              %p With howas.it, you can get immediate feedback on customer experience before they even leave.
          %li
            .icon= image_tag "i_stock.png"
            .content
              %h3 Create Custom Satisfaction Surveys
              %p You can easily create customer surveys to fit your needs, or use our templates.
          %li
            .icon= image_tag "i_gear.png"
            .content
              %h3 Offer Rewards for Feedback
              %p Easily create coupons and offers to reward customers for feedback.
          %li
            .icon= image_tag "i_book.png"
            .content
              %h3 Capture User Emails for Correspondence
              %p Get customer emails for follow-up communications.
    .half.right
      / REPLACE WITH VIDEO WHEN READY
      .slider
        %div
          %ul
            %li= image_tag "screenshot.jpg"
            %li= image_tag "screenshot.jpg"
            %li= image_tag "screenshot.jpg"
            %li= image_tag "screenshot.jpg"
    .call-to-action.a-center
      = link_to image_tag ("btn-free-trial.png"), new_user_path
.features3
  %ul
    %li
      .icon= image_tag "step_1.png"
      .content
        %h3 Create your account
        %p Our signup process is quick, simple, and secure!  Each account gets a 30-day free trial period, so you won't be billed for two weeks!
    %li
      .icon= image_tag "step_2.png"
      .content
        %h3 Add your businesses
        %p Each account level allows you to list more locations.  Want to expand to more areas?  Easily upgrade your account from the account control panel.
    %li
      .icon= image_tag "step_3.png"
      .content
        %h3 Build surveys and rewards
        %p After you've added your businesses, you can create your surveys and coupons.  At howas.it, we like to make it easy for your consumers to give feedback and we allow you to incentivize it too!