.feature-sets
  %h3 Tour
  %ul.submenu
    %li.page_item.page-item-68
      %a{:href => "#", :title => "Feature Set 1"}= (image_tag "i_calendar.png")+"Custom Reports"
    %li.page_item.page-item-72
      %a{:href => "#", :title => "Feature Set 1"}= (image_tag "i_basket.png")+"Mobile Surveys"
    %li.page_item.page-item-76
      %a{:href => "#", :title => "Feature Set 1"}= (image_tag "i_clock.png")+"Geo-location Aware"
    %li.page_item.page-item-80
      %a{:href => "#", :title => "Feature Set 1"}= (image_tag "i_safe.png")+""
  %div
    %p= image_tag "screenshot.jpg", :class => "alignright"
    %h4 Condimentum ornare
    %p Nam felis quam, blandit nec feugiat quis, gravida et libero. Nulla ullamcorper auctor justo, eu feugiat nibh laoreet eget. Nulla luctus pellentesque suscipit. Nullam eu mauris nisi, sed pellentesque mi. Donec dignissim sem id erat rhoncus mattis.
    %br
    %p Nam felis quam, blandit nec feugiat quis, gravida et libero. Nulla ullamcorper auctor justo, eu feugiat nibh laoreet eget. Nulla luctus pellentesque suscipit. Nullam eu mauris nisi, sed pellentesque mi. Donec dignissim sem id erat rhoncus mattis.
    %ul.clear
      %li
        %h5
          .v-bt= image_tag("i_global.png")+"Condumentum ornare"
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique volutpat arcu eget varius. Praesent vulputate cursus turpis in tempus. Nullam auctor sapien rhoncus diam convallis dictum.
      %li
        %h5
          .v-bt= image_tag("i_bstock.png")+"Condumentum ornare"
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique volutpat arcu eget varius. Praesent vulputate cursus turpis in tempus. Nullam auctor sapien rhoncus diam convallis dictum.
      %li
        %h5
          .v-bt= image_tag("i_download.png")+"Condumentum ornare"
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique volutpat arcu eget varius. Praesent vulputate cursus turpis in tempus. Nullam auctor sapien rhoncus diam convallis dictum.